<!DOCTYPE html>
<html lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="copyright" content="2017 Balachandran Sivakumar, Dr Russel Winder">
    <head>
        {% block head %}
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/accuconf.css') }}">
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/accuconf.js') }}" type="text/javascript"></script>
        <title>{% block title%} {% endblock %} - ACCUConf</title>
        {% endblock %}
    </head>
    <body>
        <div class="row toprow">
            <div class="banner">
                <img src="static/images/logo.png" alt="logo"/>
            </div>
            {% if session.active %}
            <div class="userbutton pull-right"> {{ session.fullname }}</div>
            {% else %}
            <div class="inline pull-right">
                <form class="form inline pull-right">
                    <fieldset>
                        <input type="email" placeholder="Email">
                        <input type="password" placeholder="Password">
                    </fieldset>
                    <fieldset class="buttongroup">
                        <button type="submit" class="button primary-button">Sign in</button>
                        <a class="forgotpassword" href="#">Forgot password?</a>
                    </fieldset>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <ul class="menu">
                <li class="menuitem"><a href="#">Home</a></li>
                {% if session.active %}
                <li class="menuitem"><a href="#">My Proposals</a></li>
                {% else %}
                <li class="menuitem"><a href="#">Register</a></li>
                {% endif %}
                <li class="menuitem"><a href="#">Schedule</a></li>
                <!-- <li class="menuitem"><a href="#">Venue</a></li>
                     <li class="menuitem"><a href="#">Talks</a></li>
                   -->
                <li class="menuitem"><a href="#">Contact Us</a></li>
            </ul>
        </div>
        {% block content%} {% endblock %}
        <div class="row">
            <div class="footer">
                <footer> &copy; Copyright 2017  Balachandran Sivakumar, Dr. Russel Winder</footer>
            </footer>
        </div>
    </body>
</html>
