{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!--  Banner -->
<div class="container-fluid banner">
    <a href="/index.html"><img class="img-responsive" src="/assets/accuconf.png" alt="ACCUConf Logo"/></a>
</div>
<!-- End of banner -->

<div class="row">
    <!-- Menubar -->
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <nav class="navbar navbar-default accuconf-menu" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span> <a class="navbar-brand" href="{{ abs_link(_link("root", None, lang)) }}"> {{ blog_title|e }} </a> </span>
            </div>
            <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
                <ul class="nav navbar-nav">
                    {{ base.html_navigation_links() }}
                </ul>
            </div>
        </nav>
        <!-- End of Menubar -->
    </div> <!-- End of div.col-sm-3 -->

    <!-- Main Content -->
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div id="content" role="main">
            <div class="body-content">
                <!--Body content-->
                <div class="row">
                    {{ template_hooks['page_header']() }}
                    {% block content %}{% endblock %}
                </div>
                <!--End of body content-->

                <footer id="footer">
                    {{ content_footer }}
                    {{ template_hooks['page_footer']() }}
                </footer>
            </div>
        </div>
    </div> <!--  End of col-sm-6 -->
    <!-- End of main content -->

    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Sponsors</h3>
                </div>
                <div class="panel-body">
                    <div class="carousel" id="sponsors-carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="" alt="sponsor1" class="img-responsive img-rounded center-block"/>
                            </div>
                            <div class="item">
                                <img src="" alt="sponsor2" class="img-responsive img-rounded center-block"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Committee</h3>
                </div>
                <div class="panel-body">
                    <ul class="nolist">
                        <li> Dr. Russel Winder </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!--  End of div.row -->

{{ base.late_load_js() }}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    $('.carousel').carousel()
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
