{% extends "proposals_base.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        {{ page.title }}
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <h3> Login </h3>
        <form class="form-horizontal" action="{{ url_for('proposals.login')}}" method="POST">
            <div class="control-group">
                <label for="usermail" class="col-md-3"> Email</label>
                <div class="col-md-offset-1">
                    <input type="text" name="usermail" id="usermail" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label for="password" class="col-md-3"> Password</label>
                <div class="col-md-offset-1">
                    <input type="password" name="password" id="password" placeholder="Password">
                </div>
            </div>
            <div class="control-group">
                <button type="submit" class="btn btn-primary">Login</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
