<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    {% block head %}
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='accuconf.css') }}">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
      <title>{% block title%} {% endblock %} - ACCUConf</title>
    {% endblock %}
  </head>
  <body>
    <div  id="main">
      <div class="banner">
        <div class="pure-g">
          <div class="pure-u-1">
            <img src="static/logo.png" alt="logo"/>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="pure-g">
          <div class="pure-u-1">
            <div class="inconvenience">
                <p> This site is undergoing maintenance at the moment. We sincerely regret the inconvenience caused. We will be back online shorty </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

