{% extends "proposals_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        <h1>Maintenance</h1>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="inconvenience">
            <p>This site is undergoing maintenance at the moment.</p>
            <p>Apologies for any inconvenience caused.</p>
            <p>We will be back online shortly.</p>
        </div>
    </div>
</div>
{% endblock %}