{% extends "proposals_base.html" %}
{% block title %}Not Logged In{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        <h1>Not Logged In</h1>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <div class="inconvenience">
            <p>You need to be logged in to {{ page.name }}.</p>
        </div>
    </div>
</div>
{% endblock %}