{% extends "proposals_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        {{ page.title }}
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="container-fluid">
        <form class="form-horizontal" id="registrationForm" method="POST" action="{{ url_for('proposals.register')}}">
            <div class="form-group">
                <label for="email" class="control-label col-sm-3">Email</label>
                <div class="col-sm-offset-1">
                    <input id="email" name="email" placeholder="Email" onkeyup="javascript:checkDuplicate();" aria-describedby="emailhelp">
                    <span class="help-block" id="emailhelp"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="control-label col-sm-3">Password</label>
                <div class="col-sm-offset-1">
                    <input id="user_pass" name="user_pass" type="password" placeholder="Password" aria-describedby="passwordalert">
                    <span class="help-block" id="passwordalert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="cpassword" class="control-label col-sm-3">Retype Password</label>
                <div class="col-sm-offset-1">
                    <input id="cpassword" name="cpassword" type="password" placeholder="Retype Password" aria-describedby="cpasswordalert">
                    <span class="help-block" id="cpasswordalert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="control-label col-sm-3">First Name</label>
                <div class="col-sm-offset-1">
                    <input id="firstname" name="firstname" type="text" placeholder="First Name" aria-describedby="firstnamealert">
                    <span class="help-block" id="firstnamealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="control-label col-sm-3">Last Name</label>
                <div class="col-sm-offset-1">
                    <input id="lastname" name="lastname" type="text" placeholder="Last Name" aria-describedby="lastnamealert">
                    <span class="help-block" id="lastnamealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="control-label col-sm-3">Phone number with ISD code</label>
                <div class="col-sm-offset-1">
                    <input id="phone" name="phone" placeholder="+44 20 1234 5678" aria-describedby="phonealert">
                    <span class="help-block" id="phonealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="country" class="control-label col-sm-3">Country</label>
                <div class="col-sm-offset-1">
                    <select id="country" name="country" onchange="javascript:loadState('country', 'states', 'state');" onkeyup="this.onchange();" onmouseup="this.onchange();" aria-describedby="countryalert">
                    </select>
                    <span class="help-block" id="countryalert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="state" class="control-label col-sm-3">State/Province</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="state" name="state" placeholder="State/Province">
                    <select id="states" name="states" style="display:none;" onchange="javascript:updateState();" onkeyup="this.onchange();" onmouseup="this.onchange();" aria-describedby="statealert">
                    </select>
                    <span class="help-block" id="statealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="pincode" class="control-label col-sm-3">Postal/Pin/Zip Code</label>
                <div class="col-sm-offset-1">
                    <input type="text" id="pincode" name="pincode" placeholder="Postal/Pin/Zip code">
                    <span class="help-block" id="picodealert"></span>
                </div>
            </div>
            <div class="form-group">
                <label for="captcha" class="control-label col-sm-3">Solve this puzzle</label>
                <label for="captcha" class="puzzle" class="col-sm-3"> {{ page.puzzle }} </label>
                <div class="col-sm-offset-1">
                    <input type="hidden" id="captcha" name="captcha" value="{{ page.question }}">
                    <input type="text" id="puzzle" name="puzzle" placeholder="Solve" class="puzzle">
                    <span class="form-alert pull-right" id="captchaalert"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="submit"  class="btn btn-primary" onsubmit="javascript:registerUser();">Register</button>
                <button type="reset" class="btn btn-default">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="notice">
  <p>
    The data collected here will only be available to people organising the conference for the purpose of
    organising the conference.
  </p>
</div>
<script type="text/javascript">
 var countryData;
 $(document).ready(function() {
     $.ajax({
         method: 'GET',
         url: "/proposals/static/assets/data/countries.json",
         success: function(data, textStatus, jqXHR) {
             var country_sel = $('#country');
             data.sort(function(a, b) {
                 var aUpper = a.name.toUpperCase();
                 var bUpper = b.name.toUpperCase();
                 if ( aUpper < bUpper ) {
                     return -1;
                 }
                 if (aUpper > bUpper) {
                     return 1;
                 }
                 return 0;
             });
             countryData = data;
             country_sel.html();
             $.each(data, function(name, data) {
                 country_sel.append('<option value="' + data.alpha3 + '">' + data.a_name + '</option>');
             });
         },
         dataType: "json"
     });
     $("input[type='password']").keyup(function() {
         var pass = $('#user_pass').val();
         var cPass = $('#cpassword').val();
         var testValid = false;
         var matchValid = false;
         if (pass.length) {
             if (!passwordValid(pass)) {
                 $('#passwordalert').text("Password should have at least 1 lower case, 1 upper case, and 1 digit and should have at least 8 characters");
                 testValid = false;
                 $('#submit').attr("disabled", true);
             } else {
                 testValid = true;
                 $('#passwordalert').text("");
                 $('#submit').removeAttr("disabled");
             }
         }
         if (pass.length && cPass.length && testValid) {
             if (pass !== cPass) {
                 $('#cpasswordalert').text("Password and Confirmation do not match");
                 $('#alert').fadeIn(1000);
                 $('#submit').attr("disabled", true);
                 matchValid = false;
             }
             if (pass === cPass) {
                 matchValid = true;
                 $('#cpasswordalert').text("");
                 $('#submit').removeAttr("disabled");
             }
         }
         if (testValid && matchValid) {
             $('#submit').removeAttr("disabled");
         } else {
             $('#submit').attr("disabled", true);
         }
     });
     $('#email').focusout(function() {
         var email = $('#email').val();
         if (!isEmail(email)) {
             $('#emailhelp').text(email + " is not a valid email address");
             $('#submit').attr("disabled", true);
         } else {
             $('#emailhelp').text("");
             $('#submit').removeAttr("disabled");
         }
     });

 });
</script>
{% endblock %}
