{% extends "proposals_base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        {{ page.title }}
    </div>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="messages">
      <p class="alert" id="alert"></p>
    </div>
  </div>
</div>
<div class="row">
    <div class="reviewproposal">
        <form class="form general wide" id="proposalform" method=""
               action=" {{ url_for('proposals.review_proposal') }}"
               onsubmit="return false;">
            <fieldset>
                <label for="title">Title</label>
                <input type="text" name="title" id="title" size = "50"
                       placeholder="Title" disabled="true"
                       value="{{ page.proposal.title }}">
            </fieldset>

            <fieldset>
                <label for="abstract">Abstract</label>
                <textarea rows="24" cols="80"
                          name="proposal" id="proposal"
                          placeholder="Proposal abstract" disabled="true">{{ page.proposal.abstract}}
                </textarea>
            </fieldset>
            <fieldset>
                <label for="proposaltype">Proposal Type</label>
                <select name="proposaltype" id="proposaltype" disabled="disabled">
                    <option value="quick"{% if page.proposal.proposaltype=='quick' %} selected="selected"{% endif %}>15 minute sessions</option>
                    <option value="interactive"{% if page.proposal.proposaltype=='interactive' %} selected="selected"{% endif %}> 90 minute Interactive session</option>
                    <option value="miniworkshop"{% if page.proposal.proposaltype=='miniworkshop' %} selected="selected"{% endif %}> 90 minute workshop</option>
                    <option value="workshop"{% if page.proposal.proposaltype=='workshop' %} selected="selected"{% endif %}> 180 minute workshop</option>
                    <option value="fulldayworkshop"{% if page.proposal.proposaltype=='fulldayworkshop' %} selected="selected"{% endif %}> 6 hour pre-conference workshop</option>
                </select>
            </fieldset>
            <fieldset id="copresenters">
                <label for="presenters">Co-Presenters</label>
                <table class="presenterstable" id="presenterstable">
                    <thead>
                        <tr>
                            <th> Lead </th>
                            <th> Email </th>
                            <th> Fist Name </th>
                            <th> Last Name </th>
                            <th> Country </th>
                            <th> State </th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for presenter in page.proposal.presenters %}
                        <tr class="odd">
                            <td class="narrow">
                                <input type="radio"
                                       name="lead" id="lead"
                                       value="{{ presenter.is_lead}}"
                                       disabled="true">
                            </td>
                            <td align="center" id="def_email">
                                {{ presenter.email }}
                            </td>
                            <td align="center" id="def_fname">
                                {{ presenter.first_name }}
                            </td>
                            <td align="center" id="def_lname">
                                {{ presenter.last_name }}
                            </td>
                            <td align="center" id="def_country">
                                {{ presenter.country }}
                            </td>
                            <td align="center" id="def_state">
                                {{ presenter.state }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% set curr = page.proposal.presenters|length %}
                        <tr class="even" style="display: none;">
                            <td class="narrow"> <input type="radio" name="lead" id="lead" value="1"> </td>
                            <td> <input type="text" name="p_email_{{ curr }}"
                                        id="p_email_{{ curr }}"
                                        placeholder="Email Address">
                            </td>
                            <td> <input type="text" name="p_fname_{{ curr }}"
                                        id="p_fname_{{ curr }}"
                                        placeholder="First Name">
                            </td>
                            <td> <input type="text" name="p_lname_{{ curr }}"
                                        id="p_lname_{{ curr }}"
                                        placeholder="Last Name">
                            </td>
                            <td> <select class="widetable" name="p_ctry_{{ curr}}"
                                         id="p_ctry_{{ curr }}"
                                         onchange="javascript:loadState('p_ctry_{{ curr }}', 'p_states_{{ curr }}', 'p_state_{{ curr }}', true);"
                                         onkeyup="this.onchange();" onmouseup="this.onchange();">
                            </td>
                            <td> <input type="text" name="p_state_{{ curr}}"
                                        id="p_state_{{ state }}"
                                        placeholder="State">
                            </td>
                            <td style="display: none;"> <select
                                    class="widetable"
                                    name="p_states_{{ curr }}"
                                    id="p_states_{{ curr }}">
                            </td>
                            <td> <button class="adder" type="button"
                                         onclick="javascript:addPresenter('presenterstable');">+</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <label for="tags">Category</label>
                <input type="text" name="tags" id="tags" placeholder="Category">
            </fieldset>

            <hr/>

            <fieldset class="form-group">
                <label for="score" >Score</label>
                <input type="text" name="score" id="score" size="5"
                    value="{{ page.proposal.score }}">
            </fieldset>

            <fieldset class="form-group">
                <label for="comment">Comment</label>
                <textarea rows="5" cols="60" name="comment" id="comment">{{ page.proposal.comment }}
                </textarea>
            </fieldset>

            <fieldset class="formgroup">
                <button type="submit" class="button"
                        value="previous_proposal" {% if page.proposal.previous_enabled!=True %} disabled="disabled"{% endif %}
                        onclick="javascript:uploadReview(this);">Submit and go to<br/>previous proposal</button>
                <button type="submit" class="button"
                        value="previous_nr_proposal" {% if page.proposal.previous_enabled!=True %} disabled="disabled"{% endif %}
                        onclick="javascript:uploadReview(this);">Submit and go to<br/>previous not read proposal</button>
                <button type="submit" class="button" value="save"
                        onclick="javascript:uploadReview(this);">Submit<br/>review</button>
                <button type="submit" class="button primary-button"
                        value="next_nr_proposal" {% if page.proposal.next_enabled!=True %} disabled="disabled"{% endif %}
                        onclick="javascript:uploadReview(this);">Submit and go to<br/>next not read proposal</button>
                <button type="submit" class="button"
                        value="next_proposal" {% if page.proposal.next_enabled!=True %} disabled="disabled"{% endif %}
                        onclick="javascript:uploadReview(this);">Submit and go to<br/>next proposal</button>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}