{% extends "proposals_base.html" %}
{% block title %}View Proposal{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        {{ page.title }}
    </div>
</div>
<div class="row">
  <div class="container-fluid">
    <div class="messages">
      <p class="alert" id="alert"></p>
    </div>
  </div>
</div>
<div class="row">
    <div class="viewproposal">
        {% for subpage in page.subpages %}
            <form class="form general wide" id="proposalform" method=""
              action=""
              onsubmit="return false;">
            <fieldset>
                <label for="title" class="control-label col-sm-3">Title</label>
                <input type="text" name="title" id="title" size="60"
                       placeholder="Title" disabled="true"
                       value="{{ subpage.proposal.title }}">
            </fieldset>
            <fieldset>
                <label for="abstract" class="control-label col-sm-3">Abstract</label>
                <textarea rows="24" cols="60"
                          name="proposal" id="proposal"
                          placeholder="Proposal abstract" disabled="true">{{ subpage.proposal.abstract}}
                </textarea>
            </fieldset>
            <fieldset>
                <label for="proposaltype" class="control-label col-sm-3">Proposal Type</label>
                <select name="proposaltype" id="proposaltype" disabled="disabled">
                    <option value="quick"{% if subpage.proposal.proposaltype=='quick' %} selected="selected"{% endif %}>15 minute sessions</option>
                    <option value="interactive"{% if subpage.proposal.proposaltype=='interactive' %} selected="selected"{% endif %}> 90 minute Interactive session</option>
                    <option value="miniworkshop"{% if subpage.proposal.proposaltype=='miniworkshop' %} selected="selected"{% endif %}> 90 minute workshop</option>
                    <option value="workshop"{% if subpage.proposal.proposaltype=='workshop' %} selected="selected"{% endif %}> 180 minute workshop</option>
                    <option value="fulldayworkshop"{% if subpage.proposal.proposaltype=='fulldayworkshop' %} selected="selected"{% endif %}> 6 hour pre-conference workshop</option>
                </select>
            </fieldset>
            <fieldset id="copresenters">
                <label for="presenters">Co-Presenters</label>
                <table class="presenterstable" id="presenterstable">
                    <thead>
                        <tr>
                            <th> Lead </th>
                            <th> Email </th>
                            <th> Fist Name </th>
                            <th> Last Name </th>
                            <th> Country </th>
                            <th> State </th>
                            <th>  </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for presenter in subpage.proposal.presenters %}
                        <tr class="odd">
                            <td class="narrow">
                                <input type="radio"
                                       name="lead" id="lead"
                                       value="{{ presenter.is_lead}}"
                                       disabled="true">
                            </td>
                            <td align="center" id="def_email">
                                {{ presenter.email }}
                            </td>
                            <td align="center" id="def_fname">
                                {{ presenter.first_name }}
                            </td>
                            <td align="center" id="def_lname">
                                {{ presenter.last_name }}
                            </td>
                            <td align="center" id="def_country">
                                {{ presenter.country }}
                            </td>
                            <td align="center" id="def_state">
                                {{ presenter.state }}
                            </td>
                        </tr>
                        {% endfor %}
                        {% set curr = subpage.proposal.presenters|length %}
                        <tr class="even" style="display: none;">
                            <td class="narrow"> <input type="radio" name="lead" id="lead" value="1"> </td>
                            <td> <input type="text" name="p_email_{{ curr }}"
                                        id="p_email_{{ curr }}"
                                        placeholder="Email Address">
                            </td>
                            <td> <input type="text" name="p_fname_{{ curr }}"
                                        id="p_fname_{{ curr }}"
                                        placeholder="First Name">
                            </td>
                            <td> <input type="text" name="p_lname_{{ curr }}"
                                        id="p_lname_{{ curr }}"
                                        placeholder="Last Name">
                            </td>
                            <td> <select class="widetable" name="p_ctry_{{ curr}}"
                                         id="p_ctry_{{ curr }}"
                                         onchange="javascript:loadState('p_ctry_{{ curr }}', 'p_states_{{ curr }}', 'p_state_{{ curr }}', true);"
                                         onkeyup="this.onchange();" onmouseup="this.onchange();">
                            </td>
                            <td> <input type="text" name="p_state_{{ curr}}"
                                        id="p_state_{{ state }}"
                                        placeholder="State">
                            </td>
                            <td style="display: none;"> <select
                                    class="widetable"
                                    name="p_states_{{ curr }}"
                                    id="p_states_{{ curr }}">
                            </td>
                            <td> <button class="adder" type="button"
                                         onclick="javascript:addPresenter('presenterstable');">+</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <fieldset>
                <label for="tags">Category</label>
                <input type="text" name="tags" id="tags" placeholder="Category">
            </fieldset>
            <!--
            <fieldset class="buttongroup">
                <button type="submit" class="button primary-button"
                        onclick="javascript:uploadProposal();">
                    Submit</button>
                <button type="cancel" class="button">Reset</button>
            </fieldset>
            -->
        </form> <hr/>
        {% endfor %}
    </div>
</div>
{% endblock %}
