{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="pagetitle">
        {{ page.title }}
    </div>
</div>
<div class="row">
    <p class="first"> {{ page.data }} </p>
</div>
<div class="row fixed-20">
    <div class="messages">
        <p class="alert" id="alert"></p>
    </div>
</div>
<div class="row">
    <div class="registrationtable">
        <form class="form general" id="registrationForm" method="POST">
            <fieldset>
                <label for="email">Email</label>
                <input id="email" name="email" placeholder="Email" onkeyup="javascript:checkDuplicate();">
                <p class="form-alert pull-right" id="emailalert"></p>
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input id="user_pass" name="user_pass" type="password"
                       placeholder="Password">
                <p class="form-alert pull-right" id="passwordalert"></p>
            </fieldset>
            <fieldset>
                <label for="cpassword">Retype Password</label>
                <input id="cpassword" name="cpassword" type="password" placeholder="Retype Password">
                <p class="form-alert pull-right" id="cpasswordalert"></p>
            </fieldset>
            <fieldset>
                <label for="salutation">Salutation</label>
                <select id="salutation" name="salutation">
                    <option value="Mr.">Mr.</option>
                    <option value="Ms.">Ms.</option>
                    <option value="Dr.">Dr.</option>
                </select>
                <p class="form-alert pull-right" id="salutationalert"></p>
            </fieldset>
            <fieldset>
                <label for="firstname">First Name</label>
                <input id="firstname" name="firstname" type="text" placeholder="First Name">
                <p class="form-alert pull-right" id="firstnamealert"></p>
            </fieldset>
            <fieldset>
                <label for="lastname">Last Name</label>
                <input id="lastname" name="lastname" type="text" placeholder="Last Name">
                <label for="suffix" class="suffix">Suffix</label>
                <select id="suffix" name="suffix">
                    <option value="none"></option>
                    <option value="Jr.">Jr.</option>
                    <option value="Sr.">Sr.</option>
                </select>                    
                <p class="form-alert pull-right" id="lastnamealert"></p>
            </fieldset>
            <fieldset>
                <label for="phone">Contact number with ISD code</label>
                <input id="phone" name="phone" placeholder="Contact number with ISD code">
                <p class="form-alert pull-right" id="phonealert"></p>
            </fieldset>
            <fieldset>
                <label for="country">Country</label>
                <select id="country" name="country" onchange="javascript:loadState('country', 'states', 'state');" onkeyup="this.onchange();" onmouseup="this.onchange();">
                </select>
                <p class="form-alert pull-right" id="countryalert"></p>
            </fieldset>
            <fieldset>
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="State/Province">
                <select id="states" name="states" style="display:none;" onchange="javascript:updateState();" onkeyup="this.onchange();" onmouseup="this.onchange();">
                </select>
                <p class="form-alert pull-right" id="statealert"></p>
            </fieldset>
            <fieldset>
                <label for="pincode">Pin/Zip Code</label>
                <input type="text" id="pincode" name="pincode" placeholder="Pin or Zip code">
                <p class="form-alert pull-right" id="picodealert"></p>
            </fieldset>
            <fieldset>
                <label for="captcha">Solve this puzzle</label>
                <label class="puzzle"> {{ page.puzzle }} </label>
                <input type="hidden" id="question" name="question" value="{{ page.question }}">
                <input type="text" id="puzzle" name="puzzle" placeholder="Solve" class="puzzle">
                <p class="form-alert pull-right" id="captchaalert"></p>
            </fieldset>
            <fieldset class="buttongroup">
                <button type="submit" id="submit"  class="button primary-button" onsubmit="javascript:registerUser();">Register</button>
                <button type="cancel" class="button">Cancel</button>
            </fieldset>
        </form>
    </div>
</div>
<script type="text/javascript">
 var countryData;
 $(document).ready(function() {
     $.ajax({
         method: 'GET',
         url: "static/countries.json",
         success: function(data, textStatus, jqXHR) {
             var country_sel = $('#country');
             data.sort(function(a, b) {
                 var aUpper = a.name.toUpperCase();
                 var bUpper = b.name.toUpperCase();
                 if ( aUpper < bUpper ) {
                     return -1;
                 }
                 if (aUpper > bUpper) {
                     return 1;
                 }
                 return 0;
             });
             countryData = data;
             country_sel.html();
             $.each(data, function(name, data) {
                 country_sel.append('<option value="' + data.alpha3 + '">' + data.a_name + '</option>');
             });
         },
         dataType: "json"
     });
     $("input[type='password']").keyup(function() {
         var pass = $('#user_pass').val();
         var cPass = $('#cpassword').val();
         var testValid = false;
         var matchValid = false;
         if (pass.length) {
             if (!passwordValid(pass)) {
                 $('#passwordalert').text("Password should have at least 1 lower case, 1 upper case, and 1 digit and should have at least 8 characters");
                 testValid = false;
                 $('#submit').attr("disabled", true);
             } else {
                 testValid = true;
                 $('#passwordalert').text("");
                 $('#submit').removeAttr("disabled");
             }
         }
         if (pass.length && cPass.length && testValid) {
             if (pass !== cPass) {
                 $('#cpasswordalert').text("Password and Confirmation do not match");
                 $('#alert').fadeIn(1000);
                 $('#submit').attr("disabled", true);
                 matchValid = false;
             }
             if (pass === cPass) {
                 matchValid = true;
                 $('#cpasswordalert').text("");
                 $('#submit').removeAttr("disabled");
             }
         }
         if (testValid && matchValid) {
             $('#submit').removeAttr("disabled");
         } else {
             $('#submit').attr("disabled", true);
         }
     });
     $('#email').focusout(function() {
         var email = $('#email').val();
         if (!isEmail(email)) {
             $('#emailalert').text(email + " is not a valid email address");
             $('#submit').attr("disabled", true);
         } else {
             $('#emailalert').text("");
             $('#submit').removeAttr("disabled");
         }
     });

 });
</script>
{% endblock %}
