
{% macro dates() %}
    <li> Call for Proposals: 2016-10-17 to 2016-11-18 </li>
    <li> Notification Date: 2017-01-13 </li>
    <li> Schedule Announcement: 2017-01-20 </li>
    <li> Workshops Day: 2017-04-25 </li>
    <li> Conference: 2017-04-26 to 2017-04-29 </li>
{% endmacro %}

{% macro sponsors() %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Sponsors</h3>
        </div>
        <div class="panel-body">
            <ul class="nolist">
                <li> <img src="" alt="sponsor1" class="img-responsive img-rounded center-block"/> </li>
                <li> <img src="" alt="sponsor2" class="img-responsive img-rounded center-block"/> </li>
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro committee() %}
    <li> Russel Winder (Chair) </li>
    <li> Gail Ollis </li>
    <li> Jon Jagger </li>
    <li> Francis Glassborow </li>
    <li> Olve Maudal </li>
    <li> Roger Orr </li>
    <li> Felix Petriconi </li>
    <li> Charles Bailey </li>
    <li> Dirk Haun </li>
    <li> Anastasia Kazakova </li>
{% endmacro %}
