{#  -*- mode: jinja2; coding: utf-8; -*- #}

{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{% import 'accuconf.tmpl' as accuconf with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
<link rel="icon"  type="image/png" href="/assets/images/accu2017_32x32.png">
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<!--  Banner -->
<div class="container-fluid banner">
    <a href="/site/"><img class="img-responsive" src="/assets/images/accu2017_363x124.png" align="left" alt="ACCUConf 2017 Logo"/></a>
    <a href="http://www.accu.org"><img class="img-responsive" src="/assets/images/accu_logo.png" align="right" alt="ACCU Logo"/></a>
</div>
<!-- End of banner -->
<!-- Banner logo -->
<!--
<div class="row">
    <div class="jumbotron">
        <img src="/assets/bristol.jpg" class="img-responsive center-block" alt="Bristol"/>
    </div>
</div>
-->
<!-- Banner logo -->
<div class="row">
    <!-- Menubar -->
    <div class="col-sm-3 col-md-3 col-lg-3 ">
        <div class="row">
            <nav class="navbar navbar-default accuconf-menu" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <span> <a class="navbar-brand" href="{{ abs_link(_link("root", None, lang)) }}"> {{ blog_title|e }} </a> </span>
                </div>
                <div class="collapse navbar-collapse" id="bs-navbar" aria-expanded="false">
                    <ul class="nav navbar-nav" id="navigation-links">
                        {{ base.html_navigation_links() }}
                    </ul>
                </div>
            </nav>
        </div> <!-- End div.row for nav -->
        <div class="hidden-xs">
            <div class="row hide">
                <div class="container-fluid">
                    {{ accuconf.sponsors() }}
                </div>
            </div>
        </div>
        <!-- End of Menubar -->
    </div> <!-- End of div.col-sm-3 -->

    <!-- For single column rendering - In mobiles and tablets -->
    <div class="visible-xs-block">
        <div class="container-fluid">
            <div class="accuconf-menu">
                <a type="button" class="accuconf-toggle-link btn" data-toggle="collapse" href="#keydates">
                    <span class="accuconf-toggle glyphicon glyphicon-menu-hamburger"> Dates </span>
                </a>
                <div class="collapse" id="keydates">
                    <ul class="nolist">
                        {{ accuconf.dates() }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End For single column rendering  -->

    <!-- Main Content -->
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div id="content" role="main">
            <div class="body-content">
                <!--Body content-->
                <div class="row">
                    {{ template_hooks['page_header']() }}
                    {% block content %}{% endblock %}
                </div>
                <!--End of body content-->

                <footer id="footer">
                    {{ content_footer }}
                    {{ template_hooks['page_footer']() }}
                </footer>
            </div>
        </div>
    </div> <!--  End of col-sm-6 -->
    <!-- End of main content -->

    <div class="col-sm-3 col-md-3 col-lg-3">
        <div class="hidden-xs">
            <div class="row" id="greeter-row">
                <div class="panel panel-default" id="greeter-panel">
                    <h4 id="greeter"></h4>
                </div>
            </div>
        </div>
        <div class="hidden-xs">
             <h4>
                <a href="https://twitter.com/ACCUConf">@ACCUConf</a>
                <a href="https://twitter.com/hashtag/ACCUConf">#ACCUConf</a>
             </h4>
             <hr/>
             <h3>
                  <a href="/stories/coc_code_of_conduct.html">Code of Conduct</a>
             </h3>
             <hr/>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Dates</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="nolist list-group">
                            {{ accuconf.dates() }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide">
            {{ accuconf.sponsors() }}
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Programme Committee</h3>
                </div>
                <div class="panel-body">
                    <ul class="nolist">
                        {{ accuconf.committee() }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Organisation</h3>
                </div>
                <div class="panel-body">
                  <a href="http://www.archer-yates.co.uk/"><h4> Archer Yates Ltd </h4></a>
                  <img src="/assets/images/AYA_holding.png" width="50" align="right" alt="AYALogo"/>
                  <ul class="nolist">
                    <li> 7 Threshers Yard </li>
                    <li> West Street </li>
                    <li> Kingham </li>
                    <li> Oxfordshire OX7 6YF  </li>
                    <li> </li>
                    <li> Telephone: +44 1608 659900  </li>
                    <li> Fax: +44 1608 659911  </li>
                    <li> Email: julie@archer-yates.co.uk </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div> <!--  End of div.row -->

{{ base.late_load_js() }}
    <script>$('a.image-reference:not(.islink) img:not(.islink)').parent().colorbox({rel:"gal",maxWidth:"100%",maxHeight:"100%",scalePhotos:true});</script>
    <script type="text/template" id="navlinks-template">
        <li> <a href="<%= href %>"><%= title %></a> </li>
    </script>
    <!-- fancy dates -->
    <script>
    moment.locale("{{ momentjs_locales[lang] }}");
    fancydates({{ date_fanciness }}, {{ js_date_format }});
    $('.carousel').carousel()
    </script>
    <!-- end fancy dates -->
    {% block extra_js %}{% endblock %}
    {% if annotations and post and not post.meta('noannotations') %}
        {{ notes.code() }}
    {% elif not annotations and post and post.meta('annotations') %}
        {{ notes.code() }}
    {% endif %}
{{ body_end }}
{{ template_hooks['body_end']() }}
    <script type="text/javascript">
     $(document).ready(function() {
         $("#greeter-row").hide();
         var navlinksTemplate = _.template($("#navlinks-template").html());
         $.ajax({
             url: "/proposals/navlinks",
             method: "GET",
             contentType: "application/json",
             success: function(jsonData) {
                 var order = Object.keys(jsonData);
                 order.sort()
                 $.each(order, function(idx, orderidx) {
                     if (jsonData[orderidx][2]) {
                         $("#navigation-links").append(navlinksTemplate({"href": jsonData[orderidx][1], "title": jsonData[orderidx][0]}));
                     }
                 });
             }
         });
         $.ajax({
             url: "/proposals/currentuser",
             method: "GET",
             contentType: "application/json",
             success: function(data) {
                 if (data.user_id.length) {
                     $("#greeter").text("Hello " + data.first_name + " " + data.last_name);
                     // Uncomment this when needed.
                     // $("#greeter-row").show();
                 }
             }
         });
     });
    </script>
</body>
</html>
