@basecolour: orange;
@padding: 3px;
@menucolor: rgba(17, 35, 40, 1);

body {
    width: 100%;
}
  
.row {
    width: 100%;
}

.banner {
  background-color: rgba(17, 35, 40, 1);
  height: image-height("assets/accuconf.png");
  width: 100%;
  padding-left: 0px;
}

.body-content {
    margin-left: 15px;
}

.navbar {
    border: 0px;
    border-radius: 0px;
}

.navbar > * {
    float: none;
}

.nav {
    float: none;
}

.nav > li {
    float: none;
}

.accuconf-menu {
    background-color: @menucolor;
}

.sponsor {
    background-color: @menucolor;
}
