body {
  width: 100%;
}
.banner {
  background-color: #112328;
  height: 124px;
  width: 100%;
  padding-left: 0px;
}
.body-content {
  margin-left: 15px;
}
.navbar {
  border: 0px;
  border-radius: 0px;
}
.navbar > * {
  float: none;
}
.nav {
  float: none;
}
.nav > li {
  float: none;
}
.accuconf-menu {
  background-color: #112328;
}
.sponsor {
  background-color: #112328;
}
